@charset "utf-8";
/* CSS Document */
body {}
img{ border:0px;}
.fl{ float:left;}
.fr{ float:right;}
.zz_nav{ margin:0px auto;}
.cl{ clear:both}
*{ margin:0px;padding:0px;}
ul{ margin:0px;padding:0px; list-style:none;}
.nav_header a:link{ color:#000; text-decoration:none;}
.nav_header a:visited{ color:#000; text-decoration:none;}
.allgame_2323wan,.allgame_2323wan div{ overflow:visible !important; text-align:left;font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.nav_all_game a:link{ color:#000; text-decoration:none;}
.nav_all_game a:visited{ color:#000; text-decoration:none;}

.nav_header{ height:40px; width:100%;background:url(http://www.2323wan.com/images/h_bg.jpg) center bottom repeat-x; line-height:37px; overflow:hidden; text-align:left;font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.nav_dh1{ width:980px; height:37px;}
.nav_dh11{ width:350px; padding-left:8px; color:#bfc6d7; letter-spacing:0px;}
.nav_dh12{ width:530px; color:#bfc6d7;}
.nav_dh12 p{ float:left;}
.nav_yx_2918{ background:url(http://www.2323wan.com/images/h_2198.gif) 0px 6px no-repeat; width:107px; height:37px; padding-left:10px; cursor:pointer; letter-spacing:0px;}
.nav_zhs_col1{ color:#F00;}
.nav_zhs_col1 a:link,.nav_zhs_col1 a:visited{ color:#F00;}
.nav_all_game{position:absolute; width:480px; left:490px; top:-8px; z-index:1000;}

.nav_ag_01{ background:url(http://www.2323wan.com/images/h_2198_01.gif) center bottom no-repeat; width:480px; height:12px;}
.nav_ag_02{ width:480px; background:url(http://www.2323wan.com/images/h_2198_02.jpg) repeat-y;}
    .nav_ag_021{ text-align:right; color:#717171; font-size:12px; padding-right:35px; padding-bottom:8px; padding-top:5px;}
    .nav_ag_022{ width:460px; margin:0 8px; padding:2px 0;  line-height:27px; float:left; height:172px; overflow-x:hidden;overflow-y:scroll}
    .nav_ag_022 ul li{ background:url(http://www.2323wan.com/images/h_2198_05.jpg) no-repeat; width:108px; height:27px; border:1px solid #d6d6d6; float:left;line-height:28px;}
    .nav_ag_022 ul li a{ padding-left:10px;}
    .nav_ag_022 p{ padding-left:23px;}
.nav_ag_03{ background:url(http://www.2323wan.com/images/h_2198_03.gif) no-repeat; width:480px; height:5px; overflow:hidden;}
.nav_yer_1{ width:10px; height:10px; position:absolute;} 
 
 
 /*temp*/
.nav_clear:after, .nav_nav:after{ clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.nav_navBox{background:#e8e8e8; padding:4px; width:502px; position:absolute; display:none; top:25px; z-index:9999;right:180px; left:459px; top:-3px;}
.nav_nav{border:1px solid #d6d6d6; background:#FFF;}
.nav_nav h2{font:bold 12px/27px "宋体"; text-indent:20px; color:#0399ee; border-bottom:1px solid #d6d6d6; height:30px; line-height:30px; width:500px;}
.nav_apic{background:url(../imgCommon/Navigation/nav_bj.jpg) no-repeat;}
.nav_lst{margin:0 -1px 0 0;}
.nav_lst a.nav_lnk{background-position:-1px -35px; color: #464646;float:left;height: 28px;line-height: 28px;padding: 0 10px;text-decoration:none;width: 80px; margin:0; overflow:hidden;}
.nav_lst a:hover{background-position:-1px -7px; color:#036bac;}
.nav_nav_yer_1{ width:10px; height:10px; position:absolute;}